---
layout: default
---
<article itemscope itemtype="http://schema.org/Article">
  <header>
    <h1 itemprop="name">
      <a href="{{ page.url }}">{{ page.title }}</a>
    </h1>
    <small>
      By
      <a itemprop="author" href="https://plus.google.com/u/0/109800087957007174418?rel=author">Chun-wei Kuo</a>
      on
      <time itemprop="datePublished" datetime="{{ page.date }}" pubdate>
        {{ page.date | date_to_string }}
      </time>
    </small>
  </header>
  <div class="content">
    {{ content }}
  </div>
</article>
<section id="comments">
<h1>Comments</h1>
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_developer = 0;
    var disqus_shortname = 'domon';
    var disqus_identifier = '{{ page.url }}';
    var disqus_title = '{{ page.title }}';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view comments.</a></noscript>
</section>
